*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* classi UTILITY */

.container{
  width: 70%;
  margin: auto;
}

.float_left{
  float: left;
}

.float_right{
  float: right;
}

.clear_fix{
  clear: both;
  content: "";
  display: table;
}

.color_text_blue{
  color: #32495b;
}

.color_orange{
  color: #fe785a;
}

.btn_orange{
  background-color: #fe785a;
  border-radius: 5px;
  display: inline-block;
  color: white;
  padding: 20px 40px;
  text-decoration: none;
}

.btn_orange:hover{
  background-color: #ff8c73;
}

.marg_20_bottom{
  margin-bottom: 20px;
}

.marg_40_bottom{
  margin-bottom: 40px;
}

.text_center{
  text-align: center;
}

body{
  min-width: 1400px;
}

/* header */

header{
  width: 100%;
}

/* navbar */

nav{
  width: 100%;
  font-weight: 300;
}

.navbar_top{
  height: 80px;
  width: 100%;
  background: #f4f9fd;
  line-height: 80px;
  border-bottom: 1px solid #32495b;
  position: fixed;
  TOP: 0;
  left: 0;
}

.navbar_top a, .navbar_bottom a{
  text-decoration: none;
  font-size: 15px;
}

/* left */

.navbar_top .left a:first-child{
  padding-right: 30px;
  border-right: 2px solid grey;
}

.navbar_top .left a:last-child{
  padding-left: 30px;
}

/* right */

.navbar_top .right{
  text-align: right;
}

.navbar_top .right a:nth-child(2){
  border: 1px solid #fe785a;
  padding: 7px 10px;
  border-radius: 5px;
  margin: 0 20px;
}

.navbar_top .right a:nth-child(3){
  padding: 10px;
  color: white;
  display: inline;
}

/* navbar_bottom */

.navbar_bottom{
  height: 80px;
  margin-top: 80px;
  line-height: 80PX;

}

.navbar_bottom img{
  margin-top: 22PX;
}

.navbar_bottom .left{
  width: 40%;
}

.navbar_bottom .RIGHT{
  width: 60%;
}

.navbar_bottom ul li{
  display: inline-block;
  list-style: none;
  color: #32495b;
  padding-left: 10px;
}

/* HERO_BANNER */

.hero_banner{
  height: 650px;
  background-image: url("../img/jumbotron.png");
  background-size: 1000px;
  background-position: bottom right;
  background-repeat: no-repeat;
  overflow: hidden;
  font-weight: 300;
}

.hero_logo{
  padding-top: 60px;
  width: 50%;
}

.hero_logo h1{
  font-size: 50px;
}

.hero_logo p{
  line-height: 30px;
}

.hero_logo a{
  text-decoration: none;
}

/* main */

main{
  background-color: #f4f9fd;
}

/* FIRST_ROW */

.first_row{
  width: 100%;
  padding: 50px 0;
  font-weight: 300;
}

.first_row img{
  width: 250px;
}

.first_row h2{
  font-size: 30px;
}

.first_row p{
  line-height: 25px;
}

/* SECOND_ROW */

.second_row{
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(50, 73, 91, 0.8);
  margin-bottom: 50px;
  font-weight: 300;
  background-color: white;
}

/* left */

.second_row img{
  width: 150px;
  margin-bottom: 20px;
}

.second_row .left{
  width: 30%;
  padding: 50px;
}

/* right */

.second_row .right{
  width: 70%;
  padding: 50px;
  text-align: left;
}

.second_row h3:first-of-type{
  font-size: 27px;
}

.second_row p{
  line-height: 25px;
}

.second_row hr{
  width: 320px;
  display: inline-block;
  margin: 0 0 5px 10px;
  border: 1px solid grey;
}

.second_row ul li{
  display: inline-block;
  list-style: none;
  padding-right: 20px;
}

.fa-check-circle{
  padding-right: 10px;
}

/* THIRD_ROW */

.third_row{
  padding-bottom: 50px;
}

.third_row .col_3{
  width: 30%;
  font-weight: 300;
  /* padding: 20px; */
  background-color: white;
}

.third_row .info_box{
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(50, 73, 91, 0.8);
  padding: 20px;
}

.third_row img{
  height: 100px;
}

.third_row p{
  line-height: 25px;
  font-size: 15px;
}

.third_row h3:first-of-type{
  font-size: 25px;
}

.third_row ul{
  text-align: left;
  list-style: none;
}

.col_3:nth-child(2){
  margin: 0 5%;
}

/* FOURTH_ROW */

.fourth_row{
  background: linear-gradient(45deg, #00a4bd, #00bda5);
  color: white;
  font-weight: 300;
}

.fourth_row .bottom img{
  height: 33px;
}

.fourth_row .top{
  padding: 30px 0;
}

.fourth_row .top h2{
  font-size: 30px;
}

.fourth_row .bottom h3{
  font-size: 40px;
}

.fourth_row .bottom{
  padding: 10px 0 70px 0;
}

.fourth_row .box_stats{
  width: 25%;
  padding: 20px;
}

.fourth_row .box_stats p{
  font-size: 13px;
  /* margin-bottom: 5px; */
}

.fourth_row .row_one{
  width: 100%;
  border-bottom: 1px solid white;
}

.fourth_row .row_two{
  width: 100%;
}

.box_stats:nth-child(2){
  border-left: 1px solid white;
}

.box_stats:nth-child(3){
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* FIFTH_ROW */

.fifth_row{
  margin: 60PX auto;
  font-weight: 300;
}

.fifth_row .left{
  width: 30%;
  margin-left: 60PX;
  text-align: left;
}

.fifth_row H2{
  font-size: 50PX;
}

.fifth_row .right{
  width: 60%;
  padding-left: 50PX;
  text-align: left;
}

.fifth_row img{
  width: 100px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  vertical-align: middle;
}

/* SIXTH_ROW */

.sixth_row .left{
  padding: 50px 0;
  width: 40%;
  font-weight: 300;
}

.sixth_row .left h2{
  font-size: 35px;
}

.sixth_row .left p:last-child{
  font-size: 14px;
}

.sixth_row .right{
  width: 60%;
  text-align: right;
}

.sixth_row img{
  height: 320px;
}

/* FOOTER */

footer{
  width: 100%;
  background-color: #32495b;
  padding: 20px 0;
  font-weight: 300;
  font-size: 15px;
}

/* row_one */

.col-4{
  margin-right: 42px;
}

.col-4 h4{
  color: white;
}

.col-4 ul li{
  list-style: none;
  margin-bottom: 17px;
}

.col-4 ul li a{
  color: #cbd6e2;
  text-decoration: none;
}

.col-4 ul li a:hover{
  color: #9fbfe3;
}

#btn_white{
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  padding: 12px;
  color: #32495b;
  font-size: 14px;
}

#btn_white:hover{
  background-color: rgba(20, 20, 20, 0.9);
}

.col-4 i{
  margin-right: 17px;
  font-size: 18px;
}

/* row_two */

footer .row_two{
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

footer .row_two ul li{
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

footer .row_two a{
  text-decoration: none;
  color: #cbd6e2;
}

footer .row_two a:hover{
  color: #9fbfe3;
}


/* row_three */

.row_three{
  margin-top: 30px;
  color: white;
}

.row_three img{
  color: white;
}

.row_three a{
  text-decoration: none;
  color: white;
}

.row_three a:hover{
  color: #9fbfe3;
}

.row_three a:first-child{
  margin-right: 20px;
}
