*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* classi UTILITY */

.container{
  width: 70%;
  margin: auto;
}

.float_left{
  float: left;
}

.float_right{
  float: right;
}

.clear_fix{
  clear: both;
  content: "";
  display: table;
}

.color_text_blue{
  color: #32495b;
}

.color_orange{
  color: #fe785a;
}

.btn_orange{
  background-color: #fe785a;
  border-radius: 5px;
  display: inline-block;
  color: white;
  padding: 20px 40px;
  text-decoration: none;
}

.marg_20_bottom{
  margin-bottom: 20px;
}

.marg_40_bottom{
  margin-bottom: 40px;
}

.text_center{
  text-align: center;
}

/* header */

header{
  width: 100%;
}

/* navbar */

nav{
  width: 100%;
  height: 160px;
  font-weight: 300;
}

.navbar_top{
  height: 50%;
  width: 100%;
  background: #f4f9fd;
  line-height: 80px;
  border-bottom: 1px solid #32495b;
  /* position: fixed;
  TOP: 0;
  left: 0;
  z-index: 3; */
}

.navbar_top a, .navbar_bottom a{
  text-decoration: none;
  font-size: 15px;
}

/* left */

.navbar_top .left a:first-child{
  padding-right: 30px;
  border-right: 2px solid grey;
}

.navbar_top .left a:last-child{
  padding-left: 30px;
}

/* right */

.navbar_top .right{
  text-align: right;
}

.navbar_top .right a:nth-child(2){
  border: 1px solid #fe785a;
  padding: 7px 10px;
  border-radius: 5px;
  margin: 0 20px;
}

.navbar_top .right a:nth-child(3){
  padding: 10px;
  color: white;
  display: inline;
}

/* navbar_bottom */

.navbar_bottom{
  height: 50%;
  line-height: 80PX;

}

.navbar_bottom img{
  margin-top: 22PX;
}

.navbar_bottom .left{
  width: 40%;
}

.navbar_bottom .RIGHT{
  width: 60%;
}

.navbar_bottom ul li{
  display: inline-block;
  list-style: none;
  color: #32495b;
  padding-left: 10px;
}

/* HERO_BANNER */

.hero_banner{
  height: 650px;
  background-image: url("../img/jumbotron.png");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  font-weight: 300;
}

.hero_logo{
  padding-top: 60px;
  width: 50%;
}

.hero_logo h1{
  font-size: 50px;
}

.hero_logo p{
  line-height: 30px;
}

.hero_logo a{
  text-decoration: none;
}

/* main */

main{
  background-color: #f4f9fd;
}

/* FIRST_ROW */

.first_row{
  width: 100%;
  padding: 50px 0;
  font-weight: 300;
}

.first_row img{
  width: 250px;
}

.first_row h2{
  font-size: 30px;
}

.first_row p{
  line-height: 25px;
}

/* SECOND_ROW */

.second_row{
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(50, 73, 91, 0.8);
  margin-bottom: 50px;
  font-weight: 300;
  background-color: white;
}

/* left */

.second_row img{
  width: 150px;
  margin-bottom: 20px;
}

.second_row .left{
  width: 30%;
  padding: 50px;
}

/* right */

.second_row .right{
  width: 70%;
  padding: 50px;
  text-align: left;
}

.second_row h3:first-of-type{
  font-size: 27px;
}

.second_row p{
  line-height: 25px;
}

.second_row hr{
  width: 320px;
  display: inline-block;
  margin: 0 0 5px 10px;
  border: 1px solid grey;
}

.second_row ul li{
  display: inline-block;
  list-style: none;
  padding-right: 20px;
}

.fa-check-circle{
  padding-right: 10px;
}

/* THIRD_ROW */

.third_row{
  padding-bottom: 50px;
}

.third_row .col_3{
  width: 30%;
  font-weight: 300;
  /* padding: 20px; */
  background-color: white;
}

.third_row .info_box{
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(50, 73, 91, 0.8);
  padding: 20px;
}

.third_row img{
  height: 100px;
}

.third_row p{
  line-height: 25px;
  font-size: 15px;
}

.third_row h3:first-of-type{
  font-size: 25px;
}

.third_row ul{
  text-align: left;
  list-style: none;
}

.col_3:nth-child(2){
  margin: 0 5%;
}
